footer {
    padding-top: 45px;
  
    color: $color-gray;
    background-color: $color-dark;
  }
  .footer{
      &ul {
        padding: 0;
      
        list-style: none;
      }

      & a {
        color: $color-gray-dark;

        &:hover,
        &:focus{
            color: $color-light;
          }

      }

      &-fifth {
        margin: 20px 0;
      
        text-align: center;

        &a {
            color: $color-gray;
      }
    }

  }  

  

