.main{
    @extend %margin-button-large;

    .site-search{
margin-bottom: $gap * 3;
    }

    .user-login{
        margin-bottom: $gap * 4;
    }
}

.new-film{
    &-row{
        padding-right: -7.5;
        padding-left: -7.5;
        margin-bottom: -$gap;
    }
    &-item{
        padding-right: calc($gap / 2);
        padding-left: calc($gap / 2) ;
        margin-bottom: $gap;

        &__thumbnail{
            margin-bottom: 0;
        }
    }
}