.header-logo__description, .header-logo__title {
  text-shadow: 0 0 5px black, 0 0 15px black, 0 0 30px black;
}

.left-sidebar, .main, .header {
  margin-bottom: 80px;
}

.navbar-inverse {
  background-color: #191919;
}
.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}
.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #517ba2;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #165690;
}
.row {
  margin-left: 0px;
}

.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel {
  border: none;
  background-color: #f2f2f2;
  margin-bottom: 30px;
}
.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #df8a13;
  border: none;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}
.panel-body {
  border: 1px solid #d5d5d5;
  border-radius: 0 0 4px 4px;
}

.input-lg, .input-group-lg > .form-control {
  font-size: 0.875rem;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  overflow-y: scroll;
}

a {
  color: #165690;
}
a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

.header-logo {
  text-align: center;
  padding: 100px 0;
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
}
.header-logo__title {
  color: #df8a13;
  font-family: "PT Serif", serif;
  display: block;
  font-weight: 700;
}
.header-logo__description {
  color: #ffffff;
  display: block;
  letter-spacing: 0.2em;
  font-size: 1.15rem;
}

.main .site-search {
  margin-bottom: 45px;
}
.main .user-login {
  margin-bottom: 60px;
}

.new-film-row {
  padding-right: -7.5;
  padding-left: -7.5;
  margin-bottom: -15px;
}
.new-film-item {
  padding-right: 7.5px;
  padding-left: 7.5px;
  margin-bottom: 15px;
}
.new-film-item__thumbnail {
  margin-bottom: 0;
}

.film-comment-form__button {
  float: right;
}

.left-sidebar {
  margin-left: -15px;
}
.left-sidebar .panel:last-of-type {
  margin: 0;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;
}
.vertical-slider__image {
  width: 100%;
}

.user-login {
  position: relative;
}
.user-login__tabs {
  position: absolute;
  top: 0;
  right: 15px;
  border: none;
}
.user-login__tabs a {
  background-color: transparent !important;
  border: none !important;
  color: #d5d5d5;
  padding: 14px 5px 11px !important;
}
.user-login__tabs .active a {
  color: #ffffff !important;
}

.site-news-item {
  clear: both;
  position: relative;
}
.site-news-item:not(:last-of-type) {
  min-height: 85px;
  margin-bottom: 15px;
}
.site-news-item:not(:last-of-type)::after {
  position: absolute;
  right: 0;
  bottom: -5px;
  height: 1px;
  width: calc(100% - 85px);
  content: "";
  background-color: #d5d5d5;
}
.site-news-item:hover a {
  color: #df8a13;
}
.site-news-item:hover .site-news-item__image {
  background-color: #df8a13;
  border-color: #df8a13;
}
.site-news-item__image {
  float: left;
  width: 75px;
  margin: 0 10px 10px 0;
}
.site-news-item__title {
  margin-bottom: 10px;
}
.site-news-item__title a {
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  display: -webkit-box;
  overflow: hidden;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.site-news-item__date {
  text-align: right;
  font-size: 0.8rem;
  color: #6f6f6f;
}

.top-films__body {
  padding-right: 0;
  padding-left: 0;
}
.top-films__list {
  margin-bottom: 0;
}
.top-films__item {
  background-color: transparent;
  margin-right: -1px;
  margin-left: -1px;
  color: #165690 !important;
  padding-right: 50px;
}
.top-films__item:first-child {
  border-radius: 0;
  border-top: none;
}
.top-films__item:last-child {
  border-radius: 0;
  border-bottom: none;
}
.top-films__item:hover, .top-films__item:focus {
  background-color: #df8a13 !important;
  color: #ffffff !important;
  border-color: #df8a13;
}
.top-films__item:hover .badge, .top-films__item:focus .badge {
  background-color: #232323;
}
.top-films__badge {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.new-films {
  width: 100%;
}
.new-films h1 {
  font-weight: 400;
  font-family: "PT Serif";
}
.new-films__title {
  text-align: left;
}
.new-films-item__caption {
  text-align: center;
}
.new-films-item__title {
  display: block;
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: bold;
}
.new-films-item__thumbnail {
  width: 200.63px;
  height: 300.08px;
}
.new-films-item__thumbnail:focus, .new-films-item__thumbnail:hover {
  background-color: #df8a13;
}
.new-films-item__thumbnail:focus .new-films-item__title, .new-films-item__thumbnail:hover .new-films-item__title {
  color: #ffffff;
}
.new-films-row {
  margin-left: -15px;
}

.top-week {
  width: 100%;
}
.top-week h2 {
  font-weight: 400;
  font-family: "PT Serif";
}
.top-week-item__caption {
  text-align: center;
}
.top-week-item__title {
  display: block;
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: bold;
}
.top-week-item__thumbnail {
  width: 200.63px;
  height: 300.08px;
}
.top-week-item__thumbnail:focus, .top-week-item__thumbnail:hover {
  background-color: #df8a13;
}
.top-week-item__thumbnail:focus .top-week-item__title, .top-week-item__thumbnail:hover .top-week-item__title {
  color: #ffffff;
}
.top-week-row {
  margin-left: -15px;
}

.film-news h2 {
  font-weight: 400;
  font-family: "PT Serif";
}
.film-news-item__image {
  width: 100%;
}
.film-news-item__button {
  float: right;
  margin-bottom: 30px;
}
.film-news-item:hover .hover, .film-news-item:focus .hover {
  color: #df8a13;
}
.film-news-item:hover .film-news-item__thumbnail, .film-news-item:focus .film-news-item__thumbnail {
  background-color: #df8a13;
}
.film-news-item:hover .film-news-item__button, .film-news-item:focus .film-news-item__button {
  background-color: #df8a13;
}

footer {
  padding-top: 45px;
  color: #d5d5d5;
  background-color: #232323;
}

.footerul {
  padding: 0;
  list-style: none;
}
.footer a {
  color: #6f6f6f;
}
.footer a:hover, .footer a:focus {
  color: #ffffff;
}
.footer-fifth {
  margin: 20px 0;
  text-align: center;
}
.footer-fiftha {
  color: #d5d5d5;
}
@media (min-width: 576px) {
  .header-logo__title {
    font-size: 3.5rem;
    margin-right: -0.34em;
    letter-spacing: 0.33em;
  }
  .new-films h1 {
    margin: -9.99999999px 0 1em 0;
    font-size: 3rem;
  }
  .top-week h2 {
    margin: 60px 0 45px 0;
    font-size: 2.5rem;
  }
  .film-news h2 {
    margin: 60px 0 45px 0;
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right li {
    margin: 5px 0 5px 5px;
  }
}
@media (max-width: 767.8px) {
  .navbar-right {
    margin-top: 0;
  }
  .navbar-left {
    margin-bottom: 0;
  }
}
@media (max-width: 575.8px) {
  .header-logo__title {
    font-size: 2.5rem;
    letter-spacing: 0.33em;
  }
  .new-films h1 {
    margin: 0 0 1em;
    font-size: 2rem;
  }
  .top-week h2 {
    margin: 45px 0 30px 0;
    font-size: 1.75rem;
  }
  .film-news h2 {
    margin: 45px 0 30px 0;
    font-size: 1.75rem;
  }
}