.header-logo__description, .header-logo__title {
  text-shadow: 0 0 5px black, 0 0 15px black, 0 0 30px black;
}

.left-sidebar, .main, .header {
  margin-bottom: 80px;
}

.navbar-inverse {
  background-color: #191919;
}
.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}
.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #517ba2;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #165690;
}
.row {
  margin-left: 0px;
}

.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel {
  border: none;
  background-color: #f2f2f2;
  margin-bottom: 30px;
}
.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #df8a13;
  border: none;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}
.panel-body {
  border: 1px solid #d5d5d5;
  border-radius: 0 0 4px 4px;
}

.input-lg, .input-group-lg > .form-control {
  font-size: 0.875rem;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  overflow-y: scroll;
}

.header-logo {
  text-align: center;
  padding: 100px 0;
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
}
.header-logo__title {
  color: #df8a13;
  font-family: "PT Serif", serif;
  display: block;
  font-weight: 700;
}
.header-logo__description {
  color: #ffffff;
  display: block;
  letter-spacing: 0.2em;
  font-size: 1.15rem;
}

.left-sidebar .panel:last-of-type {
  margin: 0;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;
}
.vertical-slider__image {
  width: 100%;
}

.user-login {
  position: relative;
}
.user-login__tabs {
  position: absolute;
  top: 0;
  right: 15px;
  border: none;
}
.user-login__tabs a {
  background-color: transparent !important;
  border: none !important;
  color: #d5d5d5;
  padding: 14px 5px 11px !important;
}
.user-login__tabs .active a {
  color: #ffffff !important;
}
@media (min-width: 576px) {
  .header-logo__title {
    font-size: 3.5rem;
    margin-right: -0.34em;
    letter-spacing: 0.33em;
  }
}
@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right li {
    margin: 5px 0 5px 5px;
  }
}
@media (max-width: 767.8px) {
  .navbar-right {
    margin-top: 0;
  }
  .navbar-left {
    margin-bottom: 0;
  }
}
@media (max-width: 575.8px) {
  .header-logo__title {
    font-size: 2.5rem;
    letter-spacing: 0.33em;
  }
}